name: Full CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

env:
  DOCKER_IMAGE: nniinjjii/calentalk
  IMAGE_TAG: latest

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: setup jdk 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: build with gradle
        run: ./gradlew clean build -x test
        ## Artifact upload
      - name: Upload JAR as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: calentalk-jar
          path: build/libs/*.jar


  deploy:
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download JAR Artifact
        uses: actions/download-artifact@v4
        with:
          name: calentalk-jar

      - name: Move jar to build/libs
        run: |
          mkdir -p build/libs
          mv *.jar build/libs/

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t $DOCKER_IMAGE:$IMAGE_TAG .

      - name: PUSH to Docker Hub
        run: |
          docker push $DOCKER_IMAGE:$IMAGE_TAG

      - name: SSH Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            docker pull nniinjjii/calentalk:latest
            docker stop calentalk || true
            docker rm calentalk || true
            docker run -d --name calentalk -p 8080:8080 nniinjjii/calentalk:latest

